<h1>Sign up</h1>
<%= form_for(@user) do |f| %>
	<%= f.label :netid, "Net ID" %>
	<%= f.text_field :netid, value: @netid, readonly: true %>

	<%= f.label :first_name %>
	<%= f.text_field :first_name %>

	<%= f.label :last_name %>
	<%= f.text_field :last_name %>

	<br />

	<%= f.submit "Create account", class: 'btn-primary btn' %>
<% end %>